@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply min-h-screen bg-gray-100 text-gray-900;
  }
}

.router-link-active {
  @apply text-blue-500 font-medium;
}
